@tailwind base;
@tailwind components;
@tailwind utilities;

/* width of scroll */
::-webkit-scrollbar {
    width: 4px;
}
/* Track colour */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 2px;
    margin-top: -10px;
    margin-bottom: -10px;
}
/* Not Scrolling */
::-webkit-scrollbar-thumb {
    background: #4f8eec;
    border-radius: 2px;
}
/* Handle on hover when scrolling */
::-webkit-scrollbar-thumb:hover {
    background: #4f8eec;
}
